.faq {
    width: auto;
    height: auto;
    margin: 0 25em 0 25em;
}
.faq-header {
    margin: 0 0 2em 0;
}
.faq-header p {
    border-bottom: 1px solid #000;
    display: inline-block;
    font-size: 1.5rem;
    padding-bottom: 20px;
    color: #575858;
}

/* Categories */
.faq-categories {
    width: 40%;
    display: inline-block;
    float: left;
}
.faq-category {
    margin: 0 0 30px 0;
}
.faq-category-name {
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    font-weight: 500;
    color: #313131;
    padding-bottom: 10px;
}
.faq-category.active .faq-category-name {
    border-bottom: 2px solid red;
}

/* Questions */
.faq-questions {
    width: 60%;
    display: inline-block;
}
.faq-question .faq-answer.show {
    display: block;
}
.faq-question-title {
    padding: 10px;
    text-align: left;
    font-weight: 400;
    background-color: #f7f7f7;
    cursor: pointer;
}
.faq-question-active {
    margin: 0 0 15px 0;
}
.faq-question-active .faq-question-title {
    color: red;
    background-color: transparent;
}
.faq-question-active .faq-question-title .arrow {
    border: solid red;
    border-width: 0 1px 1px 0;
}
.faq-question .faq-answer.show {
    display: block;
}
.faq-question .faq-answer.hide {
    display: none;
}
.faq-answer-text {
    margin: 0;
    text-align: left;
    padding: 10px;
    font-size: 13px;
    color: #636363;
}
.faq-useful {
    text-align: left;
    margin: 0 0 0 10px;
}
.faq-useful a {
    padding: 0 10px 0 0;
    color: #c74747;
    display: inline-block;
    font-size: 10px;
}

/* Symbol */
.arrow {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    float: right;
    margin: 8px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
